*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*INICIO BODY GRIDS*/
.contenedor{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        "... caja0 caja0 caja0 ..."
        "... caja1 caja2 caja3 ..."
        "... caja4 caja5 caja6 ..."
        "... caja7 caja8 caja9 ..."
        "... caja10 caja10 caja10 ..."
        ;
     /*margin-top: 25px;*/
    /*margin-bottom: 350px;*/
    gap: 40px 20px; /*genero espacio entro las cajas*/
}

/*Estilos general para todas las cajas*/
.caja{
    display:flex;
    justify-content:space-between;
    width:350px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
    border-radius: 55px 55px 0 0;
}

.caja h4{
    color: rgb(12, 6, 6);
    font-size: 24px;
    padding: 10px 10px 0 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.caja p{
    padding: 15px 10px 5px 5px;
    text-align: justify;
}
.caja img{
  background-size:auto;  
  height: 220px;
  width: 350px;
  border-radius: 15px 15px 0 0;
}
.caja button{
    background-color: #e27070;
    border: 2px;
    margin-left: 82px;
    margin-bottom: 25px;
    transition: 0.7s;
}
.caja button:hover{
    background-color: #88a71681;
    color: rgb(56, 55, 55);
    transition: 0.7s;
}
h5{
    font-weight: bold;
}
ol > li::marker {
    font-weight: bold;
  }

/*Declaro las cajas-cointeiner, si no hago esto no funciona el atributo de grid declarado en contenedor*/
.caja1{
    grid-area: caja1;
}
.caja2{
    grid-area: caja2;
}
.caja3{
    grid-area: caja3;
}
.caja4{
    grid-area: caja4;
}
.caja5{
    grid-area: caja5;
}
.caja6{
    grid-area: caja6;
}
.caja7{
    grid-area: caja7;
}
.caja8{
    grid-area: caja8;
}
.caja9{
    grid-area: caja9;
}

/*Caja 0 y 10. Son cajas sin contenido para crear un responsive entre el header y el footer*/
.caja0{
    grid-area: caja0;
    height: 20px;
    border: none;
    box-shadow: none;
}
.caja10{
    grid-area: caja10;
    height: 100px;
    border: none;
    box-shadow: none;
}

/*Convierto los elementos dentro del contenedor en GRID*/
.contenedor > div{
    display: grid;
    place-items: center;
}
/*FIN BODY GRIDS*/

/*Inicio Tarjetas*/
.tarjeta{
    background-color: rgb(255, 255, 255);
}
.tarjeta img{
    width: 100%;
}


/*Fin tarjetas*/
/*Inicio animaciones - animista.net*/
/*Animaciones para grids*/
/*Animación para cajas desde la derecha*/
.tilt-in-fwd-tr{-webkit-animation:tilt-in-fwd-tr 1s cubic-bezier(.25,.46,.45,.94) both;animation:tilt-in-fwd-tr 1s cubic-bezier(.25,.46,.45,.94) both}
 @-webkit-keyframes tilt-in-fwd-tr{0%{-webkit-transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}@keyframes tilt-in-fwd-tr{0%{-webkit-transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}


 /*Animación para cajas de la izquierda*/
 .tilt-in-fwd-tl{-webkit-animation:tilt-in-fwd-tl 1s cubic-bezier(.25,.46,.45,.94) both;animation:tilt-in-fwd-tl 1s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes tilt-in-fwd-tl{0%{-webkit-transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}@keyframes tilt-in-fwd-tl{0%{-webkit-transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);transform:rotateY(-20deg) rotateX(35deg) translate(-300px,-300px) skew(35deg,-10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}
 /*FIN Animación para cajas de la izquierda*/


 /*Animación para cajas del centro*/

.scale-in-center{-webkit-animation:scale-in-center 1s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-center 1s cubic-bezier(.25,.46,.45,.94) both}
 @-webkit-keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}










/*Medias Queries*/

@media screen and (max-width: 1115px){

    .contenedor{
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas: 
            "... caja0 caja0 ..."
            "... caja1 caja2 ..."
            "... caja4 caja5 ..."
            "... caja6 caja3 ..."
            "... caja8 caja7..."
            "... caja9 caja9 ..."
            "... caja10 caja10 ... "
            ;
         /*margin-top: 25px;*/
        /*margin-bottom: 350px;*/
        gap: 40px 20px; /*genero espacio entro las cajas*/
    }

    .caja img{
        height: 250px;
    }

}


@media screen and (max-width: 768px){

    .contenedor{
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas: 
            "... caja0 ..."
            "... caja1 ..."
            "... caja2 ..."
            "... caja3 ..."
            "... caja4 ..."
            "... caja5 ..."
            "... caja6 ..."
            "... caja7 ..."
            "... caja8 ..."
            "... caja9 ..."
            "... caja10 ..."
            ;
         /*margin-top: 25px;*/
        /*margin-bottom: 350px;*/
        gap: 40px 20px; /*genero espacio entro las cajas*/
    }
}